---
import { getCollection } from "astro:content"

import Layout from "../layouts/Layout.astro"

import ArticlePreview from "../components/ArticlePreview.astro"

const articles = await getCollection("articles")

articles.push(...articles)
articles.push(...articles)
---

<Layout title="Welcome to Astro.">
  <header></header>
  <main class="px-4">
    <div class="flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Latest Articles</h2>
      {articles.map((article) => <ArticlePreview {article} />)}
    </div>
  </main>
</Layout>
