---
const currentYear = new Date().getFullYear()
---

<footer class="flex justify-between">
  <div class="flex gap-6">
    <p>
      Designed & Developed with <a href="https://astro.build/">Astro</a>
    </p>
    <p>&copy; {currentYear} Yuri Habrusiev</p>
  </div>
  <p class="socials">
    <a href="https://github.com/yuriihabrusiev">GitHub</a>
    <a href="https://codepen.io/yuriihabrusiev">CodePen</a>
  </p>
</footer>
