---
const currentYear = new Date().getFullYear()
---

<footer class="mx-auto flex max-w-7xl justify-between">
  <div class="">
    <p>
      Designed & Developed with
      <a href="https://astro.build/" class="transition hover:text-amber-500">
        Astro
      </a>
    </p>
  </div>
  <div class="socials">
    <p>&copy; {currentYear} Yurii Habrusiev</p>
  </div>
</footer>
